build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/sdcc-cmake.elf.ihx
build/sdcc-cmake.elf.lk
build/sdcc-cmake.elf.map
build/sdcc-cmake.elf.mem
build/stm8-sdcc-cmake.elf.cdb
build/stm8-sdcc-cmake.elf.ihx
build/stm8-sdcc-cmake.elf.lk
build/stm8-sdcc-cmake.elf.map
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/FileCommandStringsBinaryFile
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.asm
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.ihx
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.lk
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.lst
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.map
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.mem
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.rel
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.rst
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.sym
build/CMakeFiles/sdcc-cmake.elf.dir/build.make
build/CMakeFiles/sdcc-cmake.elf.dir/C.includecache
build/CMakeFiles/sdcc-cmake.elf.dir/cmake_clean.cmake
build/CMakeFiles/sdcc-cmake.elf.dir/depend.internal
build/CMakeFiles/sdcc-cmake.elf.dir/depend.make
build/CMakeFiles/sdcc-cmake.elf.dir/DependInfo.cmake
build/CMakeFiles/sdcc-cmake.elf.dir/flags.make
build/CMakeFiles/sdcc-cmake.elf.dir/link.txt
build/CMakeFiles/sdcc-cmake.elf.dir/main.c.asm
build/CMakeFiles/sdcc-cmake.elf.dir/main.c.lst
build/CMakeFiles/sdcc-cmake.elf.dir/main.c.rel
build/CMakeFiles/sdcc-cmake.elf.dir/main.c.rst
build/CMakeFiles/sdcc-cmake.elf.dir/main.c.sym
build/CMakeFiles/sdcc-cmake.elf.dir/progress.make
